// Colors

// Primary
$black: hsl(0, 0%, 0%);
$bright-blue: hsl(220, 98%, 61%);
$check-background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

// Neutral

// Light Theme
$very-light-gray: hsl(0, 0%, 98%);
$very-light-grayish-blue: hsl(236, 33%, 92%);
$light-grayish-blue: hsl(233, 11%, 84%);
$dark-grayish-blue: hsl(236, 9%, 61%);
$very-dark-grayish-blue: hsl(235, 19%, 35%);

// Dark Theme
$very-dark-blue: hsl(235, 21%, 11%);
$very-dark-desaturated-blue: hsl(235, 24%, 19%);
$light-grayish-blue: hsl(234, 39%, 85%);
$light-grayish-blue-hover: hsl(236, 33%, 92%);
$darker-grayish-blue: hsl(234, 11%, 52%);
$very-darker-grayish-blue: hsl(233, 14%, 35%);
$very-dark-grayish-blue: hsl(237, 14%, 26%);

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.125rem;
}

.attribution {
    font-size: 0.6875rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.circle {
    background-color: transparent;
    border: 1px solid $black;
    border-radius: 50%;
    display: inline-block;
    height: 1.25rem;
    width: 1.25rem;
}

.container {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 30px;
    width: 23.4375rem;
    border: 1px solid red;

    h1 {
        display: flex;
        justify-content: space-between;
        margin-top: 5rem;
        text-transform: uppercase;
    }
}

.list-container {
    margin: 0 auto;
}

.list-footer-desktop {
    display: none;
}

.list-footer-mobile {
    display: block;
}

.list-group {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 !important;
    width: 19.6875rem;
}

.list-group li {
    align-items: center;
    border-bottom: 1px solid $dark-grayish-blue;
    display: flex;
    font-size: 0.9rem;
    height: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 19.6875rem;
}

@media screen and (min-width: 800px) {
    .list-footer-desktop {
        display: block;
    }

    .list-footer-mobile {
        display: none;
    }
}